* {
  margin: 0;
  padding: 0;
  font-family: "poppins", "sans-serif";
  box-sizing: border-box;
}
body {
  margin: auto;
}
.General-Cont {
  background: rgba(8, 14, 44);
  width: 100%;
  height: auto;
  position: relative;
  padding: 25px 0;
}
.General-Cont nav {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 8% 0 3%;
}
.General-Cont h2 {
  color: white;
  font-weight: bold;
  font-style: italic;
  font-size: 25px;
  text-align: center;
}
nav ul {
  flex: 1;
  text-align: right;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  font-size: 21px;
}
nav ul li a {
  text-decoration: none;
  color: #fff;
}
nav ul li a:hover {
  color: yellowgreen;
  text-decoration: underline;
}


button {
  background: #f3f1d2;
  height: 35px;
  width: 120px;
  border-radius: 15px;
  border: 0;
  color: rgb(6, 3, 48);
  font-weight: 600;
  cursor: pointer;
  font-size: 17px;
}
button:hover {
  background-color: yellowgreen;
}
.picture-frame {
  min-width: 90%;
  height: auto;
  margin: 80px 0 0 0;
  background: rgba(11, 19, 54, 0.726);
}
.frame {
  max-width: 15%;
  min-height: 370px;
  border: 6px solid white;
  margin: 100px 0 0 70px;
  padding: 10px 0;
}
.my-pic {
  width: 100%;
  max-width: 200px;
  height: auto;
  position: absolute;
  top: 34%;
  left: 8%;
}
.General-Cont .picture-frame .container {
  display: flex;
  flex-direction: row;
}
.About {
  margin: 170px 0 0 80px;
  display: inline-block;
  position: absolute;
  left: 20%;
  color: white;
  padding: 10px 20px 10px 20px;
}
.hint {
  margin-top: 1px;
  font-size: 25px;
}
.detour p {
  margin-top: 4px;
  font-size: 15px;
  font-style: italic;
  margin-left: 3px;
}
.General-Cont .third-bar {
  background: rgba(8, 14, 44);
  padding: 35px 15px;
  width: 95%;
  min-height: auto;
  display: flex;
  flex: 1;
  flex-direction: row;
}
.General-Cont .third-bar .Career {
  color: #fff;
  margin-top: 25px;
  font-size: 15px;
}
.General-Cont .third-bar .skills {
  border-left: 0.5px solid rgb(161, 173, 240);
}
.skills ul li {
  list-style: none;
  margin: 10px 0 0 20px;
  border: 1px solid whitesmoke;
  color: rgba(8, 14, 44);
  width: auto;
  height: auto;
  background-color: antiquewhite;
  display: inline-block;
  padding: 4px;
  border-radius: 9px;
  font-weight: bold;
}
.third-bar .Career p {
  margin-top: 25px;
}
